body{
    background-color: hsl(212, 45%, 89%);
}

p{
    font-size: 25px;
    font-family: Outfit,serif;
    text-align: center;
}

.container{
    background-color: white;
    width:32%;
    max-width: 350px;
    max-height: 500px;

    height:36%;
    margin: 100px auto;
    text-align: center;
    border-radius: 0.95rem;
    padding-bottom: 3rem;
}
img{
    width: 90%;
    height: 50%;
    margin: 1.125rem;
    padding: 0;
    border: 0;
    border-radius: 0.95em;

}

.light{
    font-weight: 400;
    font-size: 0.95rem;
    color: #7B879D;
    
}
.bold{
    font-weight:700;
    font-size: 1.3rem;
}

.content{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    
}

