body{
    background-color: hsl(212, 45%, 89%);
}

p{
    font-size: 25px;
    font-family: Outfit,serif;
    text-align: center;
}

.container{
    background-color: white;
    width: 30%;
    height: 70%;
    margin: 100px auto;
    text-align: center;
    border-radius: 4%;
    padding-bottom: 3%;
}
img{
    width: 95%;
    height: 50%;
    margin-top: 20px;
    padding: 0;
    border: 0;
    border-radius: 5%;

}

.light{
    font-weight: 400;
    
}
.bold{
    font-weight:700;
}

.content{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    
}

